<header id="header">
  <h1><i class="fas fa-heart fa-sm"></i> Gramoday | <%= title %></h1>
  <div id="link-container">
    <div class="link-btn">
      <a href="./">Home</a>
    </div>
    <div class="link-btn">
      <a href="./post-page">Post</a>
    </div>
    <div class="link-btn">
      <a href="./get-page">Get</a>
    </div>
    <div class="link-btn">
      <a href="./delete-page">Delete</a>
    </div>
  </div>
</header>
